version: '2.4'

#Write rest of yaml - add image, ports, needed environments, volumes and etc.

services:
  drupal:
    image: drupal
    ports:
      - 8080:80
    volumes:
      - drupal-modules:/var/www/html/modules
      - drupal-profiles:/var/www/html/profiles
      - drupal-sites:/var/www/html/sites
      - drupal-themes:/var/www/html/themes

  postgres:
    image: postgres
    environment: 
      - POSTGRES_PASSWORD=test
      - POSTGRES_USER=test
    volumes:
      - pgdata:/var/lib/postgresql/data


volumes:
  pgdata:
  drupal-modules:
  drupal-profiles:
  drupal-sites:
  drupal-themes: