[submodule "assignment5/Trello-Card-Printer"]
	path = deprecated/assignment5deprecated/Trello-Card-Printer
	url = https://github.com/Mati20041/Trello-Card-Printer.git
[submodule "assignment5.1/workshops-react-app"]
	path = assignment5.1/workshops-react-app
	url = https://github.com/Mati20041/workshops-react-app.git
