version: '2.4'

#Write rest of the compose file.
#You have to build an image with application, connect it to db and publish port 8080

services:
  notes-service:
    depends_on:
    #fill here
  db:
    #fill here
    healthcheck:
      test: ["CMD", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  #fill here